extends layout

block content
      include tmp/nav
      .ui.grid
        .four.wide.column
          include tmp/sidenav 
        .twelve.wide.stretched.column
          .content
              h4.ui.dividing.header #{title}
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              .ui.very.padded.segment This is an stretched grid column. This segment will always match 
              
                
              
          
          
         
  
  

  
     

  


